<%# # show sweet message we link to create company %>

    <main style="padding: 5px;">
        <div class="card text-center bg-dark" style="width: 80vw; margin: auto; padding: 30px;">
            <div class="card-body">
                <h1 class="card-title" style="color: rgb(150, 202, 40);">Employee Review System</h1>
                <h5 class="card-text" style="color:whitesmoke;">We would like to welcome you to our employee review system. This system is designed
                    to
                    provide valuable feedback on your performance and help you grow in your role. With this system, you
                    will
                    have the ability to add, remove, update, and assign any other company person to review your
                    performance.
                </h5>
                <a href="/create-company" class="btn btn-primary">Get Started</a>
            </div>
            <%- include('signin.ejs')%>
        </div>
    </main>